{% extends "base.html" %}
{% block page_content %}

<div class="position-relative overflow-hidden p-0 p-md-3 m-md-3 text-center bg-light">
    <div class="col-md-8 p-md-2 mx-auto my-5">
        <h2 class="display-4">Josh Does a Thing</h2>
        <p class="lead font-weight-normal">A website to showcase my interests, projects, and hobbies.</p>
        <a class="btn btn-secondary disabled" href="#">Contact Me</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>About Me</h2>
            <h4>Occupation <a itemprop="sameAs" content="https://orcid.org/0000-0001-9815-6879" href="https://orcid.org/0000-0001-9815-6879" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon"></a></h4>
            <div class="p-2 ml-2 text-justify">
            <p>
                I am currently a graduate student at Harvard Medical School studying cancer genetics using
                computational biology. Under the guidance of Professor Kevin Haigis and Professor Peter Park,
                I seek to improve our understanding of the role of <em>KRAS</em>, the most commonly mutated
                oncogene in cancer. Specifically, I am curious about the various, though limited, mutations
                commonly found in patients. Additionally, I am trying to explain the reason <em>KRAS</em>-driven
                cancers only arise in certain organs.
            </p>
            </div>
            <div>
                <a class="btn btn-outline-primary m-2" href="https://www.haigislab.org" target="_blank">Haigis Lab</a>
                <a class="btn btn-outline-primary m-2" href="https://compbio.hms.harvard.edu/index" target="_blank">Park Lab</a>
            </div>
            <hr>
            <h4>Programming</h4>
            <div class="p-2 ml-2 text-justify">
            <p>
                I primarily work in R, a favorite of biology and statisticians, though I am comfortable in
                Python, too. I push my repositories to GitHub, were you can find my "recreational" coding
                projects such as <a href="https://github.com/jhrcook/ggasym" target="_blank">ggasym</a> and
                <a href="https://github.com/jhrcook/jhcutils" target="_blank">jhcutils</a>. Unfortunately, I
                must keep my research code private until the paper is published, though, once it is,
                it can be found with the rest of my projects on GitHub.
            </p>
            </div>
            <a class="btn btn-outline-dark btn-social btn-github m-2" href="https://github.com/jhrcook" target="_blank">
                <span class="fab fa-github"></span> github/jhrcook
            </a>
            <hr>
            <h4>Hobbies</h4>
            <div class="p-2 ml-2 text-justify">
            <p>
                My hobbies include running (especially along the Charles here in Boston!), taking care of
                my plants, and reading. My current venture with my plants is trying to grow <em>Lithops</em>,
                a rock-looking succulent native to South Africa, from seed.
            </p>
            </div>
        </div>
        <div class="col-4">
            <a class="twitter-timeline" href="https://twitter.com/JoshDoesa?ref_src=twsrc%5Etfw" data-height="1000">Tweets by JoshDoesa</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
{% endblock %}

